@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
:root {
  --evening-color: #6a2c70;
  --sunset-color: #b83b5e;
  --cloud-color: #f08a5d;
  --stormy-color: #eeecda;
  --white-color: #ffffff;
  --gral-padding: 14rem; 
  --font-family: 'Mulish', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
list-style: none;
}

body{
  font-family: var(--font-family, sans-serif);
  font-size: 16px;
}

.container-app{
  padding: 0 var(--gral-padding);
}

header{
  color:  var(--evening-color);
}

.principal-header{
  display: flex;
  justify-content: space-around;
  padding: 1em var(--gral-padding);
  align-items: center;
}

.primary-text{
  font-size: 1.5rem;
  line-height: 3rem;
}

.secondary-text{
  font-size: 1.25rem;
  line-height: 2rem;
}

.bigger-text {
  font-size: 4rem;
}

.cursive-dark-text{
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}

.cursive-dark-little-text{
  font-size: 0.7rem;
  font-weight: 700;
  font-style: italic;
  display: block;
}

.container{
  display:flex;
}

.container-primary-text{
  flex: 2 0 6rem;
}

.container-icons{
  height: 1.2rem;
  margin: 0.5em;
  flex: 1 0 4rem;
  justify-content: space-between;
}

.container-icons img {
  height: 100%;
  cursor: pointer;
}
.container-icons img:hover{
  animation: anima 2s infinite;
}

.container-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1em;
  color: var(--evening-color);
}

.container-img-me {
  flex: 1 0 14rem;
}


.container-text-me{
  flex: 1 0 60%;
  padding: 2em 3em;
  text-align: center;
}

.container-img-me img{
  width: 100%;
}

/*+++++++*/
.container-projects{
  padding-top: 3em;
  padding-bottom: 3em;
  flex-direction: column;
  align-items: flex-end;
}

.title-projects {
  display: inline-block;
  font-weight: 700;
  width: 100%;
  background-color: #f08a5d;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.li-description{
  font-size: 1rem;
  line-height: 2rem;
}

.li-link{
  font-style: italic;
  color: var(--cloud-color);
  text-decoration: none;
  font-size: 0.8rem;
}

.li-container{
  display: flex;
  align-items: center;
}

.li-container-img{
  width: 1rem;
  height: 1rem;

  margin: 1rem 1rem;
}

.li-container-img img{
  width: 1rem;
  height: 1rem;
  display: inherit;
}

.container-about-me {
  padding-top: 3em;
}

.container-custom-text{
  flex: 0 0 50%;
  margin: 4rem auto;
}

.copyright-msg{
  font-size: 0.8rem;
  color: var(--sunset-color)
}

@media(max-width:756px) {
  .principal-header {
    padding: 3rem;
  }
}

@media(max-width:480px) {
  .principal-header {
    padding: 1rem;
  }
  .container-projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .title-projects{
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .container-projects > *{
    flex: 1 0 20rem;
  }
  .li-container{
    position: relative;
    margin-bottom: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow:  0 2px 1px 1px var(--cloud-color);
  }
  .copyright-msg {
    width: 100%;
    position: absolute;
    right: 0;
  }
}

@keyframes anima{
  0%{
    transform: rotate(365deg);
  }
  50%{
    transform: rotate(0);
  }
  100% {
    transform: rotate(25deg);
  }
}