@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
:root {
  --evening-color: #192231;
  --sunset-color: #985E6D;
  --cloud-color: #98878F;
  --stormy-color: #494E6B;
  --white-color: #FFFFFF;
  --font-family: 'News Cycle', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-family, sans-serif);
  font-size: 16px;
}

header{
  background-color: var(--evening-color, #192231);
  color: var(--white-color, #FFFFFF);
}

.principal-header{
  display: flex;
  justify-content: space-around;
  padding: 1em 3em;
  align-items: center;
}

.primary-text{
  font-size: 1.5rem;
}

.secondary-text{
  font-size: 1.25rem;
}

.bigger-text {
  font-size: 4rem;
}

.cursive-dark-text{
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}

.container{
  display:flex;
}

.container-primary-text{
  flex: 2 0 6rem;
}

.container-icons{
  height: 2em;
  padding: 0.5em;
  flex: 1 0 2rem;
  justify-content: space-between;
}

.container-icons img {
  height: 100%;
  cursor: pointer;
}
.container-icons img:hover{
  transform: scale(1.5);
  opacity: 0.9;
}

.container-home{
  background-color: var(--evening-color, #192231);
  color: var(--white-color, #FFFFFF);
  display: block;
  padding: 3em;
}

.container-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-img-me{
  height: 20rem;
  overflow: hidden;
  flex: 1 0 20rem;
}


.container-text-me{
  flex: 2 0 50%;
  padding: 2em 3em;
  text-align: center;
}

.container-img-me img{
  width: 100%;
}